In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

import sys    
reload(sys)  
sys.setdefaultencoding('utf8')

import numpy as np

In [13]:
units = pd.read_excel('data/USUP-libellÃ©s.xls')

df = pd.read_csv('data/sample-data.csv')
df.columns = ['YEAR', 'MONTH', 'FLUX', 'ID', 'DEPT', 'CN ID 8', 'CPA6', 'PYOD', 'PAYP', 'VAT', 'PRIFAC', 'DEVFAC',
              'VFTE', 'VART', 'D_MASSE', 'MASSE', 'USUP', 'USUP_MT']
df['CN ID 8'] = df['CN ID 8'].astype(str)

df.to_csv('data/sample-data_edit.csv', index = False)

In [149]:
dg = pd.read_csv('data/CN_2015.csv')
CN_full = dg

CN_full['CN ID 8'] = CN_full['Code'].astype(str).str.zfill(12).str[:8]
CN_full['CN ID 2'] = CN_full['CN ID 8'].str[:2]
CN_full['CN ID 4'] = CN_full['CN ID 8'].str[:4]
CN_full['CN ID 6'] = CN_full['CN ID 8'].str[:7]

CN_full['CN label 2'] = CN_full.loc[CN_full.Level == 2]['Description']
CN_full['CN label 4'] = CN_full.loc[CN_full.Level == 3]['Description']

df_ref = CN_full.loc[CN_full.Level == 2][['CN ID 2', 'Parent.1']].rename({'Parent.1': 'CN ID 1'}, axis = 1)
CN_full = CN_full.merge(df_ref)

df_ref_label = CN_full.loc[CN_full.Level == 1][['CN ID 1','Parent.1']].rename({'Parent.1': 'CN label 1'}, axis = 1)
df_ref_label['CN label 1'] = df_ref_label['CN label 1'].str.title()
CN_full = CN_full.merge(df_ref_label)

CN_full = CN_full[['Level', 'CN ID 1', 'CN label 1', 'CN ID 2', 'CN label 2', 'CN ID 4', 'CN label 4', 'CN ID 6', 'CN ID 8']]

CN_full.loc[CN_full['Level'] >= 2, 'CN label 2'] = CN_full.loc[CN_full['Level'] >= 2, 'CN label 2'].fillna(method = 'ffill')
CN_full.loc[CN_full['Level'] >= 3, 'CN label 4'] = CN_full.loc[CN_full['Level'] >= 3, 'CN label 4'].fillna(method = 'ffill')

CN_full.to_csv('data/CN_full.csv', index = False)

In [5]:
dg = pd.read_csv('data/CPA_2008.csv')
dg['Code'] = dg['Code'].str.replace('.', '')
CPA_full = dg.loc[dg.Level == 6][['Code', 'Description']].rename({'Code': 'CPA ID 6', 'Description':'CPA label 6'}, axis = 1)
CPA_full['CPA ID 4'] = CPA_full['CPA ID 6'].str[:4]
CPA_full['CPA ID 3'] = CPA_full['CPA ID 6'].str[:3]
CPA_full['CPA ID 2'] = CPA_full['CPA ID 6'].str[:2]

CPA_4 = dg.loc[dg.Level == 4][['Code', 'Description']].rename({'Code': 'CPA ID 4', 'Description':'CPA label 4'}, axis = 1)
CPA_3 = dg.loc[dg.Level == 3][['Code', 'Description']].rename({'Code': 'CPA ID 3', 'Description':'CPA label 3'}, axis = 1)
CPA_2 = dg.loc[dg.Level == 2][['Code', 'Description', 'Parent']].rename({'Code': 'CPA ID 2', 'Description':'CPA label 2', 'Parent' : 'CPA ID 1'}, axis = 1)

CPA_full = CPA_full.merge(CPA_4).merge(CPA_3).merge(CPA_2)

CPA_full = CPA_full.merge(CPA_4).merge(CPA_3).merge(CPA_2)

CPA_full.to_csv('data/CPA_full.csv', index = False)

In [12]:
df.loc[df.FLUX == 4].groupby(['ID', 'CN ID 8', 'PYOD']).sum()
df_ = df.loc[df.FLUX == 4].groupby(['PYOD']).sum().sort_values(by = 'VFTE', ascending = False)
df_['counts'] = df_['YEAR']/2011
df_['VFTE_pct_cs'] = (df_/df_.sum())['VFTE'].cumsum()
df_[['VFTE', 'VART', 'VFTE_pct_cs']]
# df_['VFTE']/df_['VART']

           VFTE       VART  VFTE_pct_cs
PYOD
DE    562208464  641082196     0.236056
IT    334554033  341420203     0.376526
GB    303333066  326420547     0.503887
BE    275101619  316716962     0.619394
ES    235803211  265081840     0.718402
NL    164366725  166350668     0.787415
PL     88256049   89807858     0.824471
IE     63892796   74985310     0.851298
SE     55064849   55219467     0.874418
AT     49243264   50627999     0.895094
PT     39990950   40191544     0.911885
CZ     33628871   34837002     0.926005
FI     25494470   26246709     0.936709
SK     23235148   23496980     0.946465
LU     22629053   22845178     0.955966
RO     22099093   29443774     0.965245
HU     20687314   21014226     0.973931
DK     14691597   14815043     0.980100
GR     14390270   14496244     0.986142
SI     10659958   10668408     0.990618
BG      6838391    7384242     0.993489
LT      4579350    5539196     0.995412
LV      3756129    3783422     0.996989
EE      3307057    3313019     0.998377
CY      2192964    2201386     0.999298
MT      1671673    1673317     1.000000